a.post_tag {
	/* Tumblr - with hash-sign */
	color: #172b84 !important;
}

a.post_tag::before {
	content: "TAG: ";
	color: crimson;
}

ul.tags li a {
	/* Tumblr - with hash-sign */
	color: #172b84 !important;
}

ul.tags li a::before {
	content: "TAG: ";
	color: crimson;
}