div.dev-title-container a.discoverytag {
	/*Deviantart tag */
	color: #172b84 !important;
}

div.dev-title-container a.discoverytag::before {
	content: "TAG: ";
	color: crimson;
}

div.dev-title-container span.discoverytag-hash {
	/*Hash of said tag*/
	color: #172b84 !important;
}