figcaption div h1 {
	/* usually the name of the picture */
	color: #172b84 !important;
}

figcaption div h1::before {
	content: "NAME: ";
	color: crimson;
}

figcaption div footer ul li {
	/* usually the tag - translated or not, no hash-sign */
	color: #172b84 !important;
}

figcaption div footer ul li::before {
	content: "TAG: ";
	color: crimson;
}