a.gtm-new-work-translate-tag-event-click  { /* experimental pixiv tag translation - no hash-sign */
	color: #178426 !important;
	font-size: 60px !important;
}

a.qE_sxIX.gtm-new-work-tag-event-click { /* pixiv tag search - hash is included in ::before->content so effectively none hash-sign too */
	color: #178426 !important;
	font-size: 60px !important;
}

a.qE_sxIX.gtm-new-work-tag-event-click:before { /* */
	color: #00000038; /* !important;
	font-size: 60px !important; */
}
