aside section h2 div div a div {
	/* usually the author's handle */
	color: #172b84 !important;
	border-width: 2px;
	border-style: dotted;
	border-color: lightpink;
}

figcaption div h1 {
	/* usually the name of the picture */
	color: #172b84 !important;
	border-width: 2px;
	border-style: dotted;
	border-color: lightpink;
}

figcaption div footer ul li {
	/* tags - with enlish translation following, no hash*/
	color: #172b84 !important;
	border-width: 2px;
	border-style: dotted;
	border-color: lightpink;
}
