div.dev-title-container a.discoverytag {
	/* Deviantart tag - prefixed by a hashsign with 
	div.dev-title-container span.discoverytag-hash */
	border-width: 2px;
	border-style: dotted;
	border-color: lightpink;
}

a[href*='/tag/'] {
	/* Deviantart tag with Eclipse on, no hashsign */
	border-width: 2px;
	border-style: dotted;
	border-color: lightpink;
}