div.tags a {
	/* FINALLY - an Artstation tag is a link (a) inside a div with tags class - it's complete with a hash sign */
	color: #172b84 !important;
	border-width: 2px;
	border-style: dotted;
	border-color: lightpink;
}

/*
div.tags a::before {
	content: "TAG: ";
	color: crimson;
}
*/