.twitter-hashtag b {
	/* the whole kit is also .pretty-link and .js-nav */
	color: #172b84 !important;
}

.twitter-hashtag b::before {
	content: "TAG: ";
	color: crimson;
}

.twitter-hashtag s {
	color: #172b84 !important;
}