/* the whole kit is also .pretty-link and .js-nav
.twitter-hashtag b {
	color: #172b84 !important;
	border-width: 2px;
	border-style: dotted;
	border-color: lightpink;
}


.twitter-hashtag b::before {
	content: "TAG: ";
	color: crimson;
}


.twitter-hashtag s {
	color: #172b84 !important;
	border-width: 2px;
	border-style: dotted;
	border-color: lightpink;
}
*/

a[href*='/hashtag/'] {
	/* Deviantart tag with Eclipse on, no hashsign */
	color: #6767e9 !important;
	border-width: 2px;
	border-style: dotted;
	border-color: lightpink;
}